/bin
/CMakeFiles
/downloads
/debug
/.git
/ipch
/lib
/My Virtual Machines
/papers
/release
/results
/Settings
/writing
/writing/scripts
slides_1_EE_1_SigSys.pdf
slides_1_EE_2_Controls.pdf
slides_1_EE_3_4_ElectroMagMechanical.pdf
slides_1_EE_5_Analog.pdf
slides_1_EE_6_Digital.pdf
octave-core
sandbox*.*
*.asv
*.aux
*blx.bib
*.bib.bak
*.bbl
*.blg
*.bmp
*.cache
*.cmake
*.conf
*.conf~
*.csv~
*.dat
*.db
*.dcbk
*.depend
*.dll
*.doc
*.doc#
*.docx
*.ecbk
*.exe
*.ffs_gui
*.fig
*.filters
.fuse*
*.gitignore~
*.gui
*.htm
*.html
*.idb
*.ilk
*.ini
*.ipch
*.lastbuildstate
*.lib
*.linux
*.lnk
*.lof
*.log
*.lot
*.m~
*.manifest
*.mat
*.mdl
*.model
*.mp4
*.nav
*.o
*.obj
*.opensdf
*.out
*.pdb
*.ply
*.ppt
*.ppt#
*.pptx
*.pro.user
*.raw
*.readme
*.res
*.rc
*.sdf
*.snm
*.stamp
*.suo
.sync*
*.synctex.gz
*.synctex.gz(busy)
*.sys 
*.tif
*.tlog
*.toc
*.txt~
*.unsuccessfulbuild
untitled*.*
*.vcxproj.user
*.vrb
*.vssettings
*.wav
*.xls
*.xlsx
*.xml
*.yml
*.zip
*.bcf
